<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.Homezakaya.model.dao.UserDao">

    <insert id="insertUser" parameterType="UserDto">
        INSERT INTO user(userId, password, nickname, email, birthDate, gender, mannerPoint, evaluatedCount,
                         alcoholPoint, username)
        VALUES (#{userId}, #{password}, #{nickname}, #{email}, #{birthDate}, #{gender}, #{mannerPoint},
                #{evaluatedCount}, #{alcoholPoint},
                #{username})
    </insert>

    <select id="getUser" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE userId = #{userId}
    </select>

    <select id="checkNickname" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE nickname = #{nickname}
    </select>

    <update id="updateUser" parameterType="UserDto">
        UPDATE user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="birthDate != null">birthDate = #{birthDate},</if>
            <if test="alcoholPoint != null">alcoholPoint = #{alcoholPoint},</if>
        </set>
        WHERE userId = #{userId}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM user
        WHERE userId = #{userId}
    </delete>

    <update id="updateMannerPoint" parameterType="UserDto">
        UPDATE user
        SET mannerPoint = #{mannerPoint},
            evaluatedCount = #{evaluatedCount}
        WHERE userId = #{userId}
    </update>

    <update id="addTokenInfo" parameterType="UserDto">
        UPDATE user
        SET refreshToken = #{refreshToken}
        WHERE userId = #{userId}
    </update>

    <update id="deleteTokenInfo" parameterType="UserDto">
        UPDATE user
        SET refreshToken = #{refreshToken}
        WHERE userId = #{userId}
    </update>

    <update id="updateUserState" parameterType="String">
        UPDATE user
        SET state = #{state}
        WHERE userId = #{userId}
    </update>

    <select id="findUserIdByEmail" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>


</mapper>